body {
    margin-left: 15px;
    margin-top: 0;

}

html {
    scroll-behavior: smooth;
}

.container {
    position: relative;

}



.block h1 {
    display: inline-block;
    position: fixed;
    font-weight: bolder;
    margin-top: 0;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;

}

#mail {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17.5px;
    position: fixed;
    right: 20px;
    display: inline-block;
    float: right;
    text-decoration: none;
    color: black;
    margin-top: 1.5%;
}

.sub-block-1 {
    position: fixed;
    font-family: 'Roboto', sans-serif;
    top: 445px;

}

.sub-block-1 p {
    padding-top: 0;
}

.sub-block-1 h3 a {
    color: black;
}

.content {
    display: inline-block;
    margin-right: 83.1%;
    margin-bottom: 0;
    font-size: 17px;
    letter-spacing: 0.3px;
    line-height: 1.5;
}

.copyright {
    margin-top: 0;
    color: grey;
    font-size: 13px;

}

.copyright a {
    color: gray;
}


.mobile-area {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 40px;
    display: inline-block;
  
    padding-bottom: 30px;
}

.mobile-area h4 {
    margin-top: 0;
}

.mobile-area a {
    text-decoration: none;
    color: #f908d1;
}

.mobile-area p {
    font-size: 15px;
}

.mobile-area img {
    width: 50%;
}


.block-1 {

    text-align: center;

}

.block-2 {

    text-align: center;
    padding-bottom: 30px;
}


.block-3 {

    text-align: center;
    padding-bottom: 30px;

}

.block-4 {

    text-align: center;
    padding-bottom: 30px;

}

.block-5 {

    text-align: center;
    padding-bottom: 30px;

}

.block-6 {

    text-align: center;
    padding-bottom: 30px;

}

.block-6 img {
    padding-top: 50px;
}


.bgColor-1 {
    background-color: #00c1b5;
    transition: all 0.5s ease;
}

.bgColor-2 {
    background-color: #ff651a;
    transition: all 0.5s ease;
}

.bgColor-3 {
    background-color: #ffbe00;
    transition: all 0.5s ease;
}

.bgColor-4 {
    background-color: #1d3fbb;
    transition: all 0.5s ease;
}

.bgColor-5 {
    background-color: #e30512;
    transition: all 0.5s ease;
}

#links {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    text-decoration: none;
    bottom: 0.3%;
    right: 1%;
}

.issue {
    text-decoration: none;
    font-size: 18.5px;
    line-height: 1.7;
    color: black;
    transition: 0.5s ease;

}

.issue:hover {
    text-decoration: underline;

}


@media only screen and (max-width: 500px) {

   .block h1{
    position: absolute;
    font-size: 18px;
    
    
   }

   .mobile-area {
    font-size: 15px;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-bottom: 30px;

   
}


   .mobile-area a{
    font-size: 13px;
   }
   .mobile-area img {
    width: 85%;
}

#links{
    visibility: hidden;
}

#mail{
    position: absolute;
    top: 106%;
    left: 26%;
    font-size: 15px;
    padding-bottom: 10px;
}


.sub-block-1{
    position: absolute;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    top:100%;
    padding-bottom: 60px;
    
    

    
}

.mobile-area p a{
    font-size: 13px;
}

.content{
    
    margin: 0;
    font-size: 18.2px;
    line-height: 1.3;
    padding-bottom: 5px;
}


.copyright{
    font-size: 12.5px;
    color: black;
}
.copyright a{
    color: black;
}

  
    


}